<!DOCTYPE html>

<html>
<head>
    <title> Home Page</title>
</head>

<body>
    <header>
        <h2>SPAM DETECTOR APP</h2>
    </header>

    <div>
        <form action="{{url_for('predict')}}", method="POST">

            <p> Enter your message here: </p>
            <textarea name = 'message' rows = '6' cols = '50'> </textarea>
            </br>

            <input type = 'submit' class = 'btn-info' value = 'Detect Spam'>

        </form>

        {{prediction_value}}
    </div>
</body>

</html>